<?xml version="1.0" encoding="UTF-8" ?>
<!--
  #%L
  FAHWeb
  %%
  Copyright (C) 2012 - 2014 Michael Thomas <mikepthomas@outlook.com>
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c.%M:%L - %m%n"/>
        </layout>
    </appender>

    <!-- specify the logging level for loggers from other libraries -->
    <logger name="com.opensymphony">
        <level value="INFO"/>
    </logger>

    <logger name="com.googlecode.jfold">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.apache.struts2">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.beans.factory">
        <level value="INFO"/>
    </logger>

    <!-- for all other loggers log only warn and above log messages -->
    <root>
        <priority value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
